$sq-accordion-height: 30px;

.accordion {
  overflow: hidden;
  margin-bottom: 5px;
    
  > .content {
    animation: scalein 0.5s;
    overflow: hidden;
  }
  
  &:not(.opened) > .content {
    display: none;
  }

  &.opened {
    > a {
      background-color: #f7f8fa;
      font-weight: bold;
    }

    li a {
      padding-left: 25px;
    }
  }
  
  > a {
    display: block;
    //height: $sq-accordion-height;
    padding: 4px 0;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      > h3 {
        text-decoration: underline;
      }
    }

    > * {
      // line-height: $sq-accordion-height;
      // vertical-align: middle;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }

    > .fa {
      float: left;
    }
    
    > h3 {
      display: inline-block;
      margin: 0;
    }
  }
}

@keyframes scalein {
  0% {
    height: 0;
    max-height: 0
  }

  100% {
    max-height: 500px;
  }
}