
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.65);
  animation: fadein 0.3s;
  overflow-y: auto;

  .modal-header {
    position: relative;
    margin: 0 0 30px 0;
    color: #485a69;

    h3 {
      display: table;
      margin: 0 auto;
      font-size: 26px;

      @include tablet {
        font-size: 24px;
      }

      @include phone {
        font-size: 22px;
      }
    }

    .left-btn {
      position: absolute;
      top: 0;
      left: 0;

      img {
        width: 20px;
      }
    }

    .x-btn {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 22px;
      cursor: pointer;

      > a {
        color: inherit;
      }
    }
  }

  .modal-window {
    position: relative;
    border-radius: 3px;
    width: 90%;
    max-width: 700px;
    height: auto;
    margin: 60px auto;
    padding: 20px;
    color: #485a69;
    //font-size: 18px;
    background-color: #fff;
    overflow: hidden;

    @include tablet {
      max-width: 450px;
      margin: 40px auto;
      padding: 10px;
      //font-size: 16px;
    }
  }
}

@keyframes modal-fadein {
  0% { opacity: 0.2 }
  100% { opacity: 1 }
}