nav.navbar {
  height: $nav-height;
  font-size: 18px;
  top: 0;
  // margin: 0 20px;
  // margin-top: $nav-height;

  line-height: $nav-height;
  vertical-align: middle;
  position: fixed;
  width: 100%;
  background: #303030;
  // box-shadow: 0 0 4px rgba(0,0,0,0.3);
  z-index: 1000;

  .nav-content {
    margin: 0 10px;
  }

  h1 {
    display: inline-block;
    margin: 0;
    font-size: 26px;
    color: #fff;
    
  }

  img.logo {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 12px;
    margin-top: ($nav-height - 48px) / 2;
  }

  ul {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 19px;

    li {
      display: inline;
      padding: 0 18px;

      a {
        display: inline;
        color: #D5CDE0;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}